.main_container{
    width: 80%;
    height: 600px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: aqua;
}
.btn_sec{
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: 150px;
    gap: 40px;
}
.btn_sec button{
    width: 100px;
    height: 40px;
}
.img_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.img_sec img{
    width: 500px;
    height: 300px;
}